*.iml
.gradle
/local.properties

/.idea

#/.idea/caches
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#/.idea/navEditor.xml
#/.idea/assetWizardSettings.xml
# we may or may not need these
#/.idea/androidTestResultsUserPreferences.xml
#/.idea/deploymentTargetSelector.xml
#/.idea/deploymentTargetDropDown.xml

.DS_Store
/build
/captures
.externalNativeBuild
